<h2>Editar Resposta</h2>
{{#if message}}
<div class="alert alert-success">{{message}}</div>
{{/if}}
<form>
    <div class="form-group">
         <label for="text_data">Texto da resposta</label>
        {{input type="text" value=model.text_data size="50" class="form-control"}}
    </div>
    <div class="checkbox">
        <label for="active">
             {{input type="checkbox" checked=model.active }}
            Ativo
        </label>
    </div>
    <a class="btn btn-default" {{action 'save'}}>Salvar</a>
</form>
