<h3>Pergunta: Qual dentre essas duas opções você acha mais importante para uma Reforma Política do século 21?</h3>

{{#link-to 'choices.new' class='btn btn-default'}}Nova Resposta{{/link-to}}

<table class="table table-hover">
    <caption>* Clique nos títulos das colunas para ordenar</caption>
    <thead>
        <tr>
            <th {{action "sortBy" "text_data"}}>Texto</th>
            <th {{action "sortBy" "active"}}>Status</th>
            <th {{action "sortBy" "score"}}>Pontuação</th>
            <th {{action "sortBy" "wins"}}>Vitórias</th>
            <th {{action "sortBy" "losses"}}>Derrotas</th>
            <th>Criada Em</th>
        </tr>
    </thead>

    <tbody>
         {{#each choice in model}} 
        <tr>
            <td>{{#link-to 'choices.edit' choice}}{{choice.text_data}}{{/link-to}}</td>
            <td><i class="glyphicon glyphicon-certificate status-{{choice.active}}"></i></td>
            <td>{{choice.score}}</td>
            <td>{{choice.wins}}</td>
            <td>{{choice.losses}}</td>
            <td>{{ago choice.created_at}}</td>
            <td></td>
        </tr>
        {{/each}}
    </tbody>

  
</table>


