<div class="container">
    <div class="masthead">
         <h1 class="text-muted">
             <img src="favicon.png" height="35">
             Administrador Plataforma Brasil</h1>
        {{#if session.isAuthenticated}}
        <nav>
             <ul class="nav nav-justified">
                <li>{{#link-to 'index'}}Início{{/link-to}}</li>
                <li>{{#link-to 'choices'}}Respostas{{/link-to}}</li>
                <li>{{#link-to 'users'}}Usuários{{/link-to}}</li>
                <li><a href="#" {{ action 'invalidateSession' }}>Sair</a></li>
            </ul>
         </nav>
        {{/if}}
    </div>
    <div class="content">
        {{outlet}}
    </div>
</div> <!-- /container -->

