<form class="form-signin" {{action 'authenticate' on='submit'}}>
    <h3 class="form-signin-heading">Indentifique-se</h3>
    <label for="identification" class="sr-only">Email</label>
    {{input type='email' id='identification' placeholder='Enter Login' value=identification class='form-control' required=true autofocus=true}}
    <label for="inputPassword" class="sr-only">Senha</label>
    {{input id='password' placeholder='Enter Password' type='password' value=password class='form-control' required=true}}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
</form>
