<table class="table table-hover">
    <caption>Total de usuários: {{users_total.total}}</caption>
    <thead>
         <tr>
            <th></th>
            <th>Nome</th>
            <th>Cpf</th>
            <th>FacebookID</th>
            <th>Email</th>
            <th>Setor</th>
            <th>Estado</th>
            <th>Cidade</th>
            <th>Criado em</th>
        </tr>
    </thead>

    <tbody>
        {{#each user in model}} 
        <tr>
            <td><img class="img-responsive img-thumbnail" height="50" width="50" src={{user.photo_url}}></td>
            <td>{{user.nome}}</td>
            <td>{{user.cpf}}</td>
            <td>{{user.facebook_id}}</td>
            <td>{{user.email}}</td>
            <td>{{user.sector}}</td>
            <td>{{user.estado}}</td>
            <td>{{user.cidade}}</td>
            <td>{{ago user.CreatedAt}}</td>
        </tr>
        {{/each}}
    </tbody>

  
</table>



